.CheckoutProduct {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}
.checkoutProduct__image img {
  object-fit: contain;
  width: 180px;
  height: 180px;
}
.checkoutProduct__info {
  padding-left: 20px;
}

.checkoutProduct__rating {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.checkoutProduct__info button {
  width: 150px;
  height: 30px;
  background-color: #f0c14b;
  border: 1px solid;
  border-radius: 1px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
}
.checkoutProduct__info .checkoutProduct__title {
  font-size: 17px;
  font-weight: 800;
}
